@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
}


/* Box-sizing border-box */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #bbbbbb;
    padding: 1rem;
    text-align: center;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: none;

        @include tablet {
            display: block
        }
    }

    &__logo {
        font-size: 2rem;
    }

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eeeeee;
    padding: 1rem;
    height: 20rem;
}

main {
    border-top: 5px solid #999999;
    border-bottom: 5px solid #999999;

    @include tablet {
        display: flex;
    }
}

.article-list {
    background-color: #fdfdfd;

    @include tablet {
        flex-grow: 1;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }


}

.article {
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 1rem;

    &__title {
        margin: 0;
        padding: 1rem;
        border-bottom: 1px dashed #555555;
        text-align: center;
    }

    &__content {
        height: 10rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.weather-list {
    background-color: #dddddd;
    padding: 1rem;
}

.weather {
    margin: 1rem 0;
    padding: 3rem 0;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 20rem;

    h4 {
        margin-top: 0;
        font-weight: normal;
    }

    .weather-description {
        font-weight: bold;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #bbbbbb;
}